.animationClass{
    display: block;
    position: relative;
    z-index: 10;
    height: 1000px;
}
.animationLayer{
    width: 100%;
    position: absolute;
    height: 1000px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.animationLayer.parallax{
    position: fixed;
}